body {
	background-image: url('../img/background.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

a img:hover {
	opacity: 0.5;
}

.margin-right {
	margin-right: 20px;
}

.container {
	overflow: hidden;
}

h1,h2,h3 {
	color: #4aaaa5;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	margin-top: 10px;
}

p {
	font-size: 14px;
	font-weight: bold;
}

.panel-default > .panel-heading {
	background-image: none;
	background-color: #fff;
}
.panel {
	padding: 20px;
	border: 1px solid #ccc;
}

.navbar {
	padding-left: 60px;
	padding-right: 60px;
	min-height: 60px;
	line-height: 70px;
}

.navbar {
	border-bottom: 1px solid #bbb;
}

.navbar-default .navbar-brand {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #4aaaa5;
	color: white;
	font-size: 28px;
	padding: 26px;
	height: 70px;
}

.navbar-nav > li{
    margin-top: 20px;
  }

.navbar-nav > li+li {
	border-left: 1px solid #dddddd;
  }

.btn {
	background-color: #4aaaa5;
	border-radius: 0;
	color: #fff;
}

.caption {
    width:100%;
    bottom: 10px;
    position: absolute;
    background: #4aaaa5;
    text-align: center;
    padding:0;
    left: 0;
    right: 0;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin: 0 20px 20px 0;
    padding: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #555;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  border-top: 5px solid #4aaaa5;
  color: #fff;
  margin-left: 0;
}

@media (min-width: 768px) {
  .navbar-nav > li > a{
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 18px;
  }

@media (max-width: 460px) {
	.navbar-default .navbar-brand {
		font-size: 18px;
	}
}

@media (max-width: 600px) {
	.profile-full {
		width: 35%;
	}
}